*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1, h2, h3, h4, h5, h6{font-size: inherit;font-weight: 400;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html{
    overflow: hidden;
}

.wrapper{
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: rgb(23,23,23);
    min-height: 100vh;
    padding: 0 20px;
    overflow: hidden;
}
/* ----------------------------menu-block------------------------------- */
.menu-container{
    display: flex;
    height: 25%;
}

.logo-container{
    width: 150px;
    height: 150px;
    margin: 20px 0 0 10px;
}

@media(max-width: 768px){
    .logo-container{
        width: 100px;
        height: 100px;
        margin: 20px 0 0 -10px;
    }
}

.main-logo{
    width: 100%;
    height: 100%;
}
/* ------------------------main-block------------------------------ */
.main-container {
    display: flex;
    justify-content: center;
    height: 60%;
    z-index: 2;
}
.text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-coming {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    color: rgb(35,233,24);
    text-align: center;
    text-shadow: 0px 0px 40px rgb(35,233,24);
}

@media(max-width: 768px){
    .text-coming{
        font-size: 40px;
    }
}

.text-coming:last-child{
    color:rgb(229,32,33);
    text-shadow: 0px 0px 40px rgb(229,32,33);
    padding-bottom: 20%;
    margin-top: 10px;
}

/* -------------------------------contacts-block--------------------------------- */
.contacts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    z-index: 2;
}
.contacts-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

@media(max-width: 768px){
    .contacts-ul{
        width: 280px;
    }
}
.contacts {
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

.contacts:hover{
    transform: scale(1.3);
}

.contacts-link {
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

.contacts-icon {
    width: 100%;
    height: 100%;
}

/* ---------------------------линии на фоне----------------------------- */


.hr1{
    position: absolute;
	border: none;
	border-top: 1px solid rgb(229,32,33);
    width: 500%;
    margin: 0 -170%;
    transform: rotate(110deg);
    box-shadow: 0 0 10px 1px rgb(229,32,33);
}

.hr2{
    position: absolute;
	border: none;
	border-top: 1px solid rgb(35,233,24);
    width: 500%;
    margin: 100% -70%;
    transform: rotate(20deg);
    box-shadow: 0 0 10px 1px rgb(35,233,24);
}